@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

body {
	background-image:url("images/pattern.overlay.jpg");
	font-size: 18px;
	font-family: goudy-old-style,serif, Cambria;
}

h1 {
	font-size: 25px;
	font-weight: normal;
}

nav a:active {
	color:white;
}

nav a:hover {
	
}

nav  a:link {
	font-family: goudy-old-style,serif, Cambria;	
	color:white;
	text-decoration: none;
}

nav a:visited {
	color: white;
}

nav li {
	float: left;
	display:inline;
	font-weight: 400;
	font-size: 18px;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

nav li a:hover {
	background-color: black;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* --- ID Below Here --- */

#logo {
	display: block;
	margin: auto;
	width: 50%;
	height: auto;
	max-width: 600px;
}

/* --- Classes Below Here --- */

.active {
	background-color: #484848;
}

.container {
	display: grid;
	grid-gap: 15px;
	width: 80%;
	height: 100%;
	margin: 15px auto auto auto;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 50px auto auto 50px;
	grid-template-areas: 
		"n n n n n n n n n n n n"
		"h h h h h h h h h h h h"
		"h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2"
		"f f f f f f f f f f f f";
}

.excerpt {
	color: black;
	grid-area: e;
	padding: 30px 10px 10px;
	display: inline-block;
	text-overflow: ellipsis;
}

.footer {
	background-color: #2C6E91;
	box-shadow: 5px 3px 1px gray;
	color: white;
	grid-area: f;	
}

.heading {
	background-color: #51B9AE;
	color: white;
	box-shadow: 5px 3px 1px gray;
	grid-area: h;
	display: grid;
	grid-template-areas: 
	"th t e";
	overflow: hidden;
	height: 150px;
}

.heading2 {
	background-color: #51B9AE;
	color: white;
	box-shadow: 5px 3px 1px gray;
	grid-area: h2;
	display: grid;
	grid-template-areas: 
	"th t e";
	overflow: hidden;
	height: 150px;
}

.navbar {
	background-color: #8361AB;
	box-shadow: 5px 3px 1px gray;
	color: white;
	grid-area: n;
}

.thumbnail {
	grid-area: th;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.title {
	color: white;
	grid-area: t;
	padding: 10px;
}

.socials {
	float:left;
}

/*---Responsive Resize Below---*/

@media (max-width : 1000px ){
	h1 {
		font-size: 20px;
	}
	
	.container {
		grid-template-areas: 
		"n n n n n n n n n n n n"
		"h h h h h h h h h h h h"
		"h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2"
		"f f f f f f f f f f f f";
		width: 100%;
	}
	.heading {
		grid-template-areas: 
		"th t"
		"th e"
	}
	.excerpt {
		padding: 0px 10px 10px;
	}
	.title {
		padding: 0px 10px 0px;
	}
}